[submodule "ext/SDL"]
	path = ext/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ext/cglm"]
	path = ext/cglm
	url = https://github.com/recp/cglm.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/freetype"]
	path = ext/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "ext/hashmap.c"]
	path = ext/hashmap.c
	url = https://github.com/tidwall/hashmap.c.git
[submodule "ext/memcheck"]
	path = ext/memcheck
	url = https://github.com/Flone-dnb/memcheck.git
